.btn {
  transition: filter 0.3s;
  display: block;
}

.btn:hover {
  filter: brightness(110%);
  transition: filter 0.3s;
}

.pc-none:not(:root) {
  @include mediaQuery(pc) {
    display: none;
  }
}

.sp-none:not(:root) {
  @include mediaQuery(sp) {
    display: none;
  }
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.outer {
  @include mediaQuery(pc) {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.wrapper {
  overflow: hidden;
  
  @include mediaQuery(pc) {
    max-width: none;
    width: 100vw;
  }
}

.bold {
  font-weight: bold;
}

.marker {
  background: linear-gradient(transparent 75%, #FDE02E 75%);
}

.dot-text {
  @include mediaQuery(pc) {
    padding-top: .4em;
    background-position: top left -2px;
    background-repeat: repeat-x;
    background-size: 1.3em .6em;
    background-image: radial-gradient(.10em .10em at center center, #EB5505, #EB5505 100%, transparent);
  }
}

.flex-reverse {
  @include mediaQuery() {
    flex-direction: row-reverse;
  }
}
